<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/style.css">
    </head> 
<body>
    <%  %> 
    <article class="article">
        <p class="title"><%= article.name %></p>
        <div class="parent">
            <p class="body"><%= article.salary %></p>
        </div>
        <button class="btn" data-linkId="<%=article._id %>">Delete this Article</button>
    </article>
    <script>
        const btn=document.querySelector('.btn');
        const articleID=btn.getAttribute('data-linkId');
        btn.addEventListener('click',()=>{
            fetch(`/article-details/${articleID}`,{method:'DELETE'})
            .then((res)=>{res.json()})
            .then(()=>{window.location.href='/'})
            .catch((err)=>{console.log(err)})
        })
    </script>
</body>
</html>